<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>SOEN387-A1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>database_package_servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>database_package_servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>database_package_servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncreDecreServlet</display-name>
    <servlet-name>QuantityIncreDecreServlet</servlet-name>
    <servlet-class>database_package_servlet.QuantityIncreDecreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncreDecreServlet</servlet-name>
    <url-pattern>/quantity-incre-decre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>database_package_servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>database_package_servlet.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/products/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProductServlet</display-name>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>database_package_servlet.CreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/create-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>database_package_servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/update-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadProductsServlet</display-name>
    <servlet-name>DownloadProductsServlet</servlet-name>
    <servlet-class>database_package_servlet.DownloadProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadProductsServlet</servlet-name>
    <url-pattern>/download-products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCartServlet</display-name>
    <servlet-name>GetCartServlet</servlet-name>
    <servlet-class>database_package_servlet.GetCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCartServlet</servlet-name>
    <url-pattern>/get-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductListServlet</display-name>
    <servlet-name>GetProductListServlet</servlet-name>
    <servlet-class>database_package_servlet.GetProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductListServlet</servlet-name>
    <url-pattern>/product-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>database_package_servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetails</display-name>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>database_package_servlet.OrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/orders/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShipOrderServlet</display-name>
    <servlet-name>ShipOrderServlet</servlet-name>
    <servlet-class>database_package_servlet.ShipOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShipOrderServlet</servlet-name>
    <url-pattern>/ShipOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>database_package_servlet.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/create-account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>database_package_servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/change-password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePermission</display-name>
    <servlet-name>ChangePermission</servlet-name>
    <servlet-class>database_package_servlet.ChangePermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePermission</servlet-name>
    <url-pattern>/change-permission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetOrderOwnerServlet</display-name>
    <servlet-name>SetOrderOwnerServlet</servlet-name>
    <servlet-class>database_package_servlet.SetOrderOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetOrderOwnerServlet</servlet-name>
    <url-pattern>/order-owner</url-pattern>
  </servlet-mapping>
</web-app>