<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>SOEN387-A1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>database_package_servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>database_package_servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>database_package_servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncreDecreServlet</display-name>
    <servlet-name>QuantityIncreDecreServlet</servlet-name>
    <servlet-class>database_package_servlet.QuantityIncreDecreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncreDecreServlet</servlet-name>
    <url-pattern>/quantity-incre-decre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>database_package_servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>database_package_servlet.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/products/*</url-pattern>
  </servlet-mapping>
</web-app>